* { margin: 0; padding: 0; box-sizing: border-box; }

section {
  width: 100%; height: 100vh;
  background-color: #eee;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-transform: uppercase;
  color: #272727;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.hamburger {
  position: absolute;
  top: 20px; left: 20px;
  z-index: 9999;
  cursor: pointer;
  transition: all 0.5s;
}

.hamburger .line {
  display: block;
  width: 32px; height: 2px;
  background-color: #272727;
  transition: all 0.5s;
}

.hamburger .line2 { margin: 8px 0; }

.sidebar {
    position: fixed;
    top: 0; left: 0;
    width: 30%; height: 100%;
    transform: translateX(-100%);
    background-color: #272727;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
  }
  
  .sidebar-items { list-style: none; }
  
  .sidebar .item {
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 20px;
    font-size: 25px;
    color: #eee;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .sidebar .item:hover {
    background-color: #eee;
    color: #272727;
    transform: translateY(-10px);
  }
  
  .sidebar .item:not(:last-child) {
    margin-bottom: 40px;
  }

  .hamburger.clicked {
    left: calc(30% - 60px);
  }
  
  .hamburger.clicked .line {
    background-color: #eee;
  }
  
  .hamburger.clicked .line1 {
    transform: translateY(10px) rotate(-135deg);
  }
  
  .hamburger.clicked .line2 {
    transform: rotate(135deg);
    opacity: 0;
  }
  
  .hamburger.clicked .line3 {
    transform: translateY(-10px) rotate(135deg);
  }
  
  .sidebar.show {
    transform: translateX(0);
    opacity: 1;
  }
